/*------------------------ADDED FOR BLOG HTML-------------------------------*/
th {
  font-family: sans-serif;
}
table {
  box-shadow: 3px 3px 5px #000000;
}

div.blogimage {
  height: 400px;
  background-size: cover;
  position: relative;
}
div.blogtext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 3px 3px 5px black;
}

.normalblog {
  padding-left: 10px;
  padding-right: 15px;
  color: black;
  font-size: 15px;
  font-family: calibri;
  color: black;
  padding: 5px;
  width: 460px;
}

.normalcreator{
  width: 150px;
  font-family: calibri;
  font-size: 13px;
  text-align: center;
}
.nmDate {
  width: 150px;
  color: black;
  text-align: center;
  font-family: calibri;
}
.nmheart{
  width: 150px;
  text-align: center;
  color: black;
  font-family: calibri;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: #4CAF50;}
.text-red{
  color: crimson;
}
/*--------------------------------------------------------------------------*/